body {
    background: orange;
    font-family: 'Bungee', cursive;
}

.container {
    width: 75%;
    margin-top: 5%;
    border: solid orangered;
}

.header, .prompt{
    text-align:center;
}

.vspace {
    margin-bottom: 10%;
}

.col, .burgs {
    margin-left: 5%;
    margin-right: 5%
}

.burgs2 {
    margin-left: 15%;
}

.devouredBtn {
    margin-right: 60%;
}

button {
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

img {
    display: block;
    margin: 5% auto 2% auto;
    width: 20%;
  }