body {
    background: orange;
    font-family: 'Bungee', cursive;
}

.container {
    width: 75%;
    margin-top: 5%;
    border: solid orangered;
}

.header, .prompt{
    text-align:center;
}

.vspace {
    margin-bottom: 10%;
}

.col, .burgs {
    margin-left: 5%;
    margin-right: 5%
}


button {
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
  }